*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    align-items: center;
}
header{
    background-color:pink;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}
.logo{
    display: block;
    max-width: 180px;
}
.logo img{
    width: 100%;
}
html, body{
    font-family: sans-serif;
}
.main-menu{
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    
}
.main-menu li{
    list-style: none;
    text-align: center;
}
.main-menu li a{
    display: block;
    color: #fff ;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
}
.search-box{
    margin-left: 30px;
}

.search-box .sb-text{
    border-radius: 10px;
    padding: 0 10px;
    line-height: 20px;
    height: 26px;
    width: 150px;
    background: transparent url(../images/1024px-Search_Icon.svg.png) no-repeat right;
    background-size: contain;
    
}
.main-menu li a:hover{
    color: blue;
}

.main-menu ul{
    margin-top: 0px;
    min-width: 150px;
    position:absolute;
    display: none;
    list-style: none;
    border: 1px solid gray;
    background-color: hotpink;
    border-radius: 5px;
    line-height: 5px;

}
.main-menu ul a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    background-color: #fff;
    font-style: italic;
    color: palevioletred;
    padding-left: 0px;
    font-variant: small-caps;
    text-align: center;
}
.main-menu>li:hover>ul{
    display: block;
}
.main-menu ul a:hover{
    background-color: blue;
    color: white;
    background: transparent url("/images/bullet.png") no-repeat 5px center;
    background-size:10%;
    background-color: blue;
    
}
main{
    background-color: #dddddd;
    min-height: 400px;
    padding: 7.5px 15px;
}

.container{
    width: 100%;
    max-width: 120px;
    margin-left: 80px;  
    
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    margin-top: 80px;
    background-color: #ffffff;
    padding: 26px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}
.input-box{
    margin-bottom: 10px;
}
.input-box input{
    padding: 7.5px 15px;
    width: 94%;
    border: 1px solid #cccccc;
    outline: none;
}



footer{
    background-image: url(../images/footer.jpg);
    clear: both;
    padding: 5px;
    
}
.thongtin a:hover{
    color:rebeccapurple
}
.thongtin{
    text-align: left;
    text-decoration: none;
    font-style: italic;
    font-size: small;
    font-family:serif;
    
}
.contact a{
    text-align: left;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    color: blue;
    padding: 0 10px;

}
.contact{
    margin-bottom: 27px;
}

.contact>a:hover{
    color: blueviolet;
}
