*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    align-items: center;
}
header{
    background-color:pink;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
.logo{
    display: block;
    max-width: 180px;
}
.logo img{
    width: 100%;
}
html, body{
    font-family: sans-serif;
}
.main-menu{
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    
}
.main-menu li{
    list-style: none;
    text-align: center;
}
.main-menu li a{
    display: block;
    color: #fff ;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 10px;
    text-align: center;
}
.search-box{
    margin-left: auto;
}

.search-box .sb-text{
    border-radius: 10px;
    padding: 0 10px;
    line-height: 20px;
    width: 100px;
    background: transparent url(../images/1024px-Search_Icon.svg.png) no-repeat right;
    background-size: contain;
    
}
.main-menu li a:hover{
    color: blue;
}
.main-menu ul{
    margin-top: 0px;
    min-width: 150px;
    position:absolute;
    display: none;
    list-style: none;
    border: 1px solid gray;
    background-color: hotpink;
    border-radius: 5px;
    line-height: 5px;

}
.main-menu ul a{
    display: block;
    text-decoration: none;
    color: white;
    border-top: 2px solid gray;
    padding-left: 0px;
    font-variant: small-caps;
    text-align: center;
}
.main-menu>li:hover>ul{
    display: block;
}
.main-menu ul a:hover{
    background-color: blue;
    color: white;
    background: transparent url("/images/bullet.png") no-repeat 5px center;
    background-size:10%;
    background-color: blue;
    
}
